.loader {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: 100;
    background-color: var(--theme-bg);

    &__item {
        font-size: 5rem;
        font-weight: 800;
        animation: pulse 2.5s infinite, zoom-out 1s linear 2.5s;
    }
}

@media (prefers-reduced-motion) {
    .loader {
        animation: none;
    }
}