.error {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: 100;
    background-color: var(--theme-bg);

    &__item {
        color: var(--theme-accent);
    }
}