// Skip to Content
.skip {
  position: absolute;
  top: auto;
  left: -999px;
  margin: 0.5rem;
  padding: 0.75rem;
  overflow: hidden;
  z-index: -99;
  cursor: pointer;
  text-decoration: none;
  transform: translateY(-100%);
  transition: transform 0.3s;
  border-radius: 0.25rem;
  color: var(--theme-text);
  background-color: var(--theme-bg);
  // @include transition;
  will-change: auto;
  transition: var(--theme-transition);

  &:focus,
  &:active {
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    z-index: 99;
    transform: translateY(0%);
  }
}
