main {
  flex: 1;

  article {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: min(100% - 2em);
    margin-block: 4em 2em;
    margin-inline: auto;
  }

  h1 {
    font-weight: bold;
    margin-bottom: 1em;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1em;
  }

  p {
    margin-bottom: 1em;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

label {
  display: inline-block;
  font-family: inherit;
  font-weight: bold;
  margin-bottom: 0.5em;
}

textarea {
  --scroll-dimension: 0.25em;
  --scroll-border-radius: 1em;
  --scroll-color-thumb: rgb(0 0 0 / 50%);
  --scroll-color-track: rgb(0 0 0 / 20%);
  --scroll-background: transparent;

  min-height: 30svh;
  max-height: 450px;
  border: 1px solid var(--theme-accent);
  border-radius: 0.25em;
  resize: vertical;
  padding: 1em;
  -ms-overflow-style: inherit;
  scrollbar-width: thin;
  scrollbar-color: var(--scroll-color-thumb) var(--scroll-color-track);

  &::-webkit-scrollbar {
    display: block;
    width: var(--scroll-dimension);
    height: var(--scroll-dimension);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--scroll-color-thumb);
    border-radius: var(--scroll-border-radius);
  }

  &::-webkit-scrollbar-track {
    background-color: var(--scroll-color-track);
    border-radius: var(--scroll-border-radius);
    border: var(--scroll-dimension) solid var(--scroll-background);
  }

  &:focus,
  &:focus-visible {
    outline: 2px solid var(--theme-accent);
    outline-offset: 5px;
  }
}

.content {
  position: relative;

  &__item {
    &[data-open="false"] {
      display: none;
    }

    &[data-open="true"] {
      display: block;
    }

    &#info {
      article {
        gap: initial;
      }
    }

    ol {
      padding-inline-start: 20px;
    }

    code {
      font-family: monospace;
    }
  }
}

.preview {
  img {
    height: auto;
    width: 100%;
    overflow: hidden;
  }
}

.form {
  display: flex;
  flex-direction: column;

  &__group {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 1em;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__input {
    position: absolute;
    opacity: 0;
    width: 0;

    &:focus ~ label,
    &:focus-visible ~ label {
      outline: 2px solid var(--theme-accent);
      outline-offset: 5px;
    }
  }

  &__label {
    display: inline-block;
    text-align: center;
    font-weight: initial;
    border-radius: 0.25em;
    padding: 0.5em 1em;
    color: var(--theme-text-alt);
    border: 1px solid var(--theme-accent);
    background-color: var(--theme-accent);
    transition: var(--theme-transition);
    cursor: pointer;

    &:hover {
      color: var(--theme-accent);
      background-color: $color-transparent;
    }
  }

  &__button {
    border-radius: 0.25em;
    padding: 0.5em 1em;
    margin-bottom: 1em;
    color: var(--theme-text-alt);
    border: 1px solid var(--theme-accent);
    background-color: var(--theme-accent);
    transition: var(--theme-transition);

    &[aria-hidden="true"] {
      display: none;
    }

    &[aria-hidden="false"] {
      display: block;
    }

    &:hover {
      color: var(--theme-accent);
      background-color: $color-transparent;
    }

    &:focus,
    &:focus-visible {
      outline: 2px solid var(--theme-accent);
      outline-offset: 5px;
    }
  }

  &__download {
    color: #000;
    border-radius: 0.25em;
    padding: 0.5em 1em;
    text-decoration: none;
    text-align: center;
    color: var(--theme-text-alt);
    border: 1px solid var(--theme-accent);
    background-color: var(--theme-accent);
    transition: var(--theme-transition);

    &:hover {
      color: var(--theme-accent);
      background-color: $color-transparent;
    }

    &:focus,
    &:focus-visible {
      outline: 2px solid var(--theme-accent);
      outline-offset: 5px;
    }
  }
}

/* .dropdown {
  position: relative;

  &__group {
    display: flex;
    align-items: center;
    border: 1px solid var(--theme-accent);
    border-radius: 0.25em;
    margin-bottom: 1em;
  }

  &__input {
    border: 0;
    padding-inline: 1em;
    width: 100%;
    margin-inline: 1em;

    &:focus {
      outline-color: transparent;
    }
  }

  &__button {
    border: 0;
    border-radius: 0;
    margin: auto 0 0 0;
    padding: 0.5em;
    color: var(--theme-text-alt);
    border-left: 1px solid var(--theme-accent);
    background-color: var(--theme-accent);
    transition: var(--theme-transition);

    &[aria-expanded="true"] {
      .dropdown__icon {
        transform: rotate(180deg);
      }
    }

    &:hover {
      color: var(--theme-accent);
      background-color: $color-transparent;
    }

    &:focus,
    &:focus-visible {
      outline: 2px solid var(--theme-accent);
      outline-offset: 5px;
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
  }

  &__option {
    display: none;

    &.is__active {
      display: block;
    }
  }

  &__items {
    width: 100%;
    border: 1px solid rgba(0 0 0 / 10%);
    border-radius: 0.25em;
    padding: 0.5em 1em;
    margin-bottom: 0.25em;
    border: 1px solid var(--theme-accent);
    color: var(--theme-accent);
    background-color: $color-transparent;
    transition: var(--theme-transition);

    &:hover {
      color: var(--theme-text-alt);
      background-color: var(--theme-accent);
    }

    &:focus,
    &:focus-visible {
      outline: 2px solid var(--theme-accent);
      outline-offset: 5px;
    }
  }
} */

// Breakpoint
@include media-breakpoint-up(lg) {
  main {
    section {
      article {
        @include media-container(xl);
      }
    }
  }
}
