footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
  padding: 0.75em 1em;
  font-weight: 100;
  font-size: 0.9375rem;
  background-color: var(--theme-bg-secondary);

  p {
    display: flex;
    align-items: center;
    margin-bottom: 0.5em;
    color: var(--theme-text-alt);
  }

  ul {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 1em;
  }

  a {
    color: var(--theme-text-alt);
    text-decoration: none;
    cursor: pointer;
    will-change: auto;
    transition: var(--theme-transition);

    &:hover {
      text-decoration: underline;
    }

    // Focus
    &:focus,
    :focus-visible {
      outline: 1px solid var(--theme-text-alt);
      outline-offset: 5px;
    }
  }

  .icon__active {
    stroke: var(--theme-accent);
  }
}

// Breakpoint
@include media-breakpoint-up(sm) {
  footer {
    flex-direction: unset;

    p {
      margin-bottom: 0;
    }
  }
}

@include media-breakpoint-up(md) {
  footer {
    font-size: inherit;
  }
}
